.bg-navbar-green {
  background-color: #fff !important;
}

body {
  background-color: #fff !important;
  background-image: url('./img/fondo.png');
  font-family: 'Montserrat' !important;
}

.logo-text {
  margin-left: 30px;
  color: #fff !important;
  font-weight: bold;
  font-size: 1.3em;
}

.container-ib {
  width: 900px;
  margin-top: 7px;
}

  .container-ib > div {
    width: 600px;
    margin-left: 0.5em;
  }

.card {
  box-shadow: rgb(3 47 137 / 10%) 0px 4px 12px !important;
  border: 1px solid rgba(17,29,46,.85);
  border-radius: 20px;
  width: 900px;
  background-color:rgba(17,29,46,.85);
  padding: 15px 20px !important;  
}


.label {
  font-size: 1em;
  color: #aaa !important;
  font-weight: bold !important;
} 

.txt-result {
  font-size: 0.9em;
  color: #fff !important;
}

.alert{
  width: 500px;
}

.gTkoGA {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin: 0 auto;
  background-color: #fff;
}

.gTkoGA-2 {
  content: "";
  display: block;
  width: 20px;
  height: 7px;
  border-radius: 3px;
  background-color: #fff;
}

.title-card {
  font-size: 1.3em;
  font-weight: bold;
}